.body {
    background-color: #f7fbff;
    line-height: 8px;
    font-family: OPPOSans;
}

@font-face {
    font-family: OPPOSans ;
    src: url("../font/OPPOSans-Medium.ttf");
}

.font {
    color:rgb(41, 158, 253);
    text-align: center;
}

.domainlist {
    height: 12px; 
    width: 90px; 
    background-color: #78c0f0;  
    margin: 0 auto;
    display: initial;
    border-radius: 3px;
}

.domain {
    color: rgb(137, 255, 126);
}

.QRcode {
    align-items: center;
    margin: 0 auto;
    width: 426px;
    height: auto;
}

.qqcode{
    align-items: center;
    margin: 0 auto;
    width: 213px;
    height: auto;
}

.footnote{
    position: fixed;
    bottom: 0px;
    text-align: center;
    left: 0;
    right: 0;
    color: rgb(155, 155, 155);
    font-size: 50%;
}

.footnotehr {
    width: 400px;
    border: none;
    background-color: #c9c9c9;
    height: 2px;
}